.btn-blue {
    background-color: blue !important;
    color: white !important;
}

.btn-green {
    background-color: green !important;
    color: white !important;
}

.btn-aqua {
    background-color: aqua !important;
    color: black;
}

.btn-pastel-blue {
    background-color: #B3EBF2 !important;
    color: black;
}