/* Dark-Mode General Styles */
body.dark-mode {
    background-color: #838383; /* Unified background color */
    color: #fff;
    transition: all 0.3s ease;
}

body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
    border: 1px solid white;
}

body.dark-mode thead {
    background-color: darkgray;
}

/* Dark-Mode for Specific Elements */
body.dark-mode header {
    background-color: #333;
}

body.dark-mode header .nav-links a,
body.dark-mode label {
    color: white;
}

body.dark-mode .nav-button {
    background-color: #333;
}

/* Dark-Mode Box */
.box.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Ensure 'seller-details' retains its original text color in dark mode */
body.dark-mode .seller-details {
    color: initial; 
}

/* Add specific styles for the background of 'Currency' on the Price Calculator page */
body.dark-mode .box {
    background-color: #838383;
}
