/* Dark-Mode General Styles */
body.dark-mode {
    background-color: #1e1e1e; /* Unified background color */
    color: #d9d9d9;
    transition: all 0.3s ease;
}

body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
    border: 1px solid #d9d9d9;
}

body.dark-mode thead {
    background-color: darkgray;
}

/* Dark-Mode for Specific Elements */
body.dark-mode header {
    background-color: #383838;
}

body.dark-mode header .nav-links a,
body.dark-mode label {
    color: #d9d9d9;
}

body.dark-mode .nav-button {
    background-color: #383838;
}

/* Dark-Mode Box */
.box.dark-mode {
    background-color: #383838;
    color: #d9d9d9;
}

/* Ensure 'seller-details' retains its original text color in dark mode */
body.dark-mode .seller-details {
    color: initial; 
}

/* Add specific styles for the background of 'Currency' on the Price Calculator page */
body.dark-mode .box {
    background-color: #383838;
}
