input[type="text"],
input[type="password"],
input[type="number"],
select {
    display: block;
    width: calc(100% - 16px); 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

hr {
    width: 100%
}

.stretch {
    padding: 10px;
}

.box-content img {
    width: 65%;
}
