.container {
    gap: 10px !important;
}

.product-container,
.summary-container,
.price-container,
.discount-container {
    flex-direction: column !important;
}


.summary-container hr {
    width: 100%;
}

.product-container {
    min-width: 600px !important;
    height: auto !important;
    flex: 0 1 auto;
    align-self: flex-start;
}

.summary-container {
    width: 40% !important;
    gap: 20px !important;
    flex: 0 1 auto;
    align-self: flex-start;
}

.box {
    /* display: flex; */
    gap: 10px;
    align-items: center;
    padding: 10px !important;
}

.container .left {
    display: flex;
    flex-grow: 1;
    gap: 10px !important;
}

.container .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px !important;
}

.box strong {
    font-size: 1.1em;
}

.box input[type='number'] {
    width: 40px;
    text-align: right;
}



.pImg {
    height: 50px;
    object-fit: cover;
}
